<stack:stack>

<stack:copyright>
Copyright (c) 2006 - 2017 Teradata
All rights reserved. Stacki(r) v5.x stacki.com
https://github.com/Teradata/stacki/blob/master/LICENSE.txt
</stack:copyright>


<stack:package>stack-admin</stack:package>
<stack:package>foundation-gd</stack:package>
<stack:package>foundation-rcs</stack:package>
<stack:package>stack-config-server</stack:package>
<stack:package>ludicrous-speed</stack:package>

<stack:package>git-core</stack:package>

<!-- rpms to create pallets -->
<stack:package>genisoimage</stack:package>
<stack:package>createrepo</stack:package>

<!-- packages required for stack create package -->
<stack:package>rpm-build</stack:package>
<stack:package>stack-build</stack:package>

<!-- text-based spreadsheet editor -->
<stack:package>sc-im</stack:package>

<!-- example spreadsheets -->
<stack:package>stack-examples</stack:package>


<!-- /mnt/cdrom needed to create pallets -->
<stack:script stack:stage="install-post">
    if [ ! -d /mnt/cdrom ]; then
        mkdir -p /mnt/cdrom
    fi

mkdir -p /export/stack/carts
chown root:apache /export/stack/carts
chmod 775 /export/stack/carts


<!-- Set Number of CPUs in the database -->

<!--
	XXX

	/sbin/chkconfig stack-num-cpus on
-->

/usr/bin/systemctl enable ludicrous-server
/usr/bin/systemctl start ludicrous-server

<!-- disable the "wickedd-dhcp*" servers -->
/usr/bin/systemctl disable wickedd-dhcp4.service
/usr/bin/systemctl disable wickedd-dhcp6.service

rm -f /usr/lib/systemd/system/wickedd-dhcp4.service
rm -f /usr/lib/systemd/system/wickedd-dhcp6.service

</stack:script>

</stack:script>

</stack:stack> 

