<stack:stack>

<stack:copyright>
Copyright (c) 2006 - 2018 Teradata
All rights reserved. Stacki(r) v5.x stacki.com
https://github.com/Teradata/stacki/blob/master/LICENSE.txt
</stack:copyright>


<stack:package>stack-admin</stack:package>
<stack:package>foundation-gd</stack:package>
<stack:package>foundation-rcs</stack:package>
<stack:package>stack-config-server</stack:package>

<stack:package>git-core</stack:package>

<!-- rpms to create pallets -->
<stack:package>genisoimage</stack:package>
<stack:package>createrepo</stack:package>

<!-- packages required for stack create package -->
<stack:package>rpm-build</stack:package>
<stack:package>stack-build</stack:package>

<!-- text-based spreadsheet editor -->
<stack:package>foundation-sc-im</stack:package>

<!-- example spreadsheets -->
<stack:package>stack-examples</stack:package>

<stack:package>mlocate</stack:package>
<stack:package>grub2</stack:package>

<!-- stacki switch package -->
<stack:package>stack-switch</stack:package>

<!-- node discovery feature -->
<stack:package>stack-discovery</stack:package>

<!-- /mnt/cdrom needed to create pallets -->
<stack:script stack:stage="install-post">
    if [ ! -d /mnt/cdrom ]; then
        mkdir -p /mnt/cdrom
    fi

mkdir -p /export
chmod og+rx /export
mkdir -p /export/stack/carts
chown root:apache /export/stack/carts
chmod 775 /export/stack/carts


<!-- Set Number of CPUs in the database -->

<!--
	XXX

	/sbin/chkconfig stack-num-cpus on
-->

<!-- explicitly write the sshd configuration file -->
<stack:file stack:name="/etc/ssh/sshd_config" stack:perms="640">
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication yes
ChallengeResponseAuthentication yes
UsePAM yes
X11Forwarding yes
PermitUserEnvironment yes
Subsystem sftp /usr/lib/ssh/sftp-server
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL
UseDNS no
</stack:file>
</stack:script>

<stack:script stack:stage="install-post">
<!-- Disable automatic hostname and default route assignment
     for DHCP -->
sed -i '/^DHCLIENT_SET_HOSTNAME/c \
DHCLIENT_SET_HOSTNAME="no"
' /etc/sysconfig/network/dhcp

sed -i '/^DHCLIENT_SET_DEFAULT_ROUTE/c \
DHCLIENT_SET_DEFAULT_ROUTE="no"
' /etc/sysconfig/network/dhcp
</stack:script>

</stack:stack> 

