build-*-*/
*/src/order-*.mk
.buildenv
.buildenv-*
.rpmmacros
*.pyc
*~
*#*#
.DS_Store
-roll-*.xml
!*/test-framework/test-suites/integration/files/dump/
.*.swp
*/3rdparty/
menu.cfg
.idea/
*.ipynb
*.ipynb_checkpoints/
.vagrant/
