<domain type="kvm">
	<name>{{ name }}</name>
	<uuid>{{ uuid }}</uuid>
	<memory>{{ memory }}</memory>
	<vcpu>{{ cpucount }}</vcpu>
	<os>
		<type arch="x86_64">hvm</type>
	</os>
	<features>
		<acpi/>
		<apic/>
		<vmport state="off"/>
	</features>
	<clock offset="utc">
		<timer name="rtc" tickpolicy="catchup"/>
		<timer name="pit" tickpolicy="delay"/>
		<timer name="hpet" present="no"/>
	</clock>
	<on_poweroff>destroy</on_poweroff>
	<on_reboot>restart</on_reboot>
	<on_crash>restart</on_crash>
	<pm>
		<suspend-to-mem enabled="no"/>
		<suspend-to-disk enabled="no"/>
	</pm>
	<devices>
		<emulator>/usr/bin/qemu-kvm</emulator>
		{% for interface in interfaces %}
		<interface type="bridge">
			<mac address="{{ interface.mac }}"/>
			<source bridge="{{ interface.name }}"/>
			<model type="virtio"/>
			{% if interface.bootorder %}
			<boot order="{{ interface.bootorder }}"/>
			{% endif %}
		</interface>
		{% endfor %}
		{% for disk in disks %}
		<disk device="disk" type="{{ disk.dev }}">
			<driver cache="none" type="{{ disk.type }}" name="qemu" io="native"/>
			<source {{ disk.src_type }}="{{ disk.path }}"/>
			<target dev="{{ disk.name }}" bus="{{ disk.bus }}"/>
			<boot order="{{ disk.bootorder }}"/>
		</disk>
		{% endfor %}
		<serial type="pty">
			<target port="0"/>
		</serial>
		<serial type="pty">
			<target port="1"/>
		</serial>
		<input bus="ps2" type="mouse"/>
		<graphics autoport="yes" keymap="en-us" type="vnc" port="-1"/>
		<video>
			<model heads="1" vram="9216" type="cirrus"/>
		</video>
		<rng model="virtio">
			<backend model="random">/dev/random</backend>
			<address type="pci" domain="0x0000" bus="0x00" slot="0x0c" function="0x0"/>
		</rng>
	</devices>
</domain>
