ansible==2.4.6
apipkg==1.4
asn1crypto==0.24.0
attrs==17.4.0
bcrypt==3.1.4
cffi==1.11.4
cryptography==2.3
enum34==1.1.6
execnet==1.5.0
funcsigs==1.0.2
idna==2.6
ipaddress==1.0.19
Jinja2==2.10
MarkupSafe==1.0
paramiko==2.4.2
pluggy==0.6.0
py==1.5.2
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pytest==3.4.0
pytest-forked==0.2
pytest-xdist==1.22.2
PyYAML==3.12
six==1.11.0
testinfra==1.10.1
