[Unit]
Description=Package tracking server
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/stack/bin/python /opt/stack/bin/ludicrous-server.py
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
