@charset "UTF-8";

@font-face {
  font-family: "budicon";
  src:url("budicons/budicon.eot");
  src:url("budicons/budicond41d.eot?#iefix") format("embedded-opentype"),
    url("budicons/budicon.woff") format("woff"),
    url("budicons/budicon.ttf") format("truetype"),
    url("budicons/budicon.svg#budicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "budicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="budicon-"]:before,
[class*=" budicon-"]:before {
  font-family: "budicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.budicon-pie-chart:before {
  content: "a";
}
.budicon-coffee:before {
  content: "b";
}
.budicon-location-1:before {
  content: "c";
}
.budicon-cocktail:before {
  content: "d";
}
.budicon-noodle:before {
  content: "e";
}
.budicon-drop:before {
  content: "f";
}
.budicon-book:before {
  content: "g";
}
.budicon-leaf:before {
  content: "h";
}
.budicon-fork-knife:before {
  content: "i";
}
.budicon-fire:before {
  content: "j";
}
.budicon-meal:before {
  content: "k";
}
.budicon-fridge:before {
  content: "l";
}
.budicon-microwave:before {
  content: "m";
}
.budicon-shop:before {
  content: "n";
}
.budicon-receipt:before {
  content: "o";
}
.budicon-receipt-1:before {
  content: "p";
}
.budicon-diamond:before {
  content: "q";
}
.budicon-tie:before {
  content: "r";
}
.budicon-cash-dollar:before {
  content: "s";
}
.budicon-cash-euro:before {
  content: "t";
}
.budicon-cash-pound:before {
  content: "u";
}
.budicon-cash-yen:before {
  content: "v";
}
.budicon-pants:before {
  content: "w";
}
.budicon-tshirt:before {
  content: "x";
}
.budicon-bag:before {
  content: "y";
}
.budicon-shirt:before {
  content: "z";
}
.budicon-tag:before {
  content: "A";
}
.budicon-wallet:before {
  content: "B";
}
.budicon-coins:before {
  content: "C";
}
.budicon-cash:before {
  content: "D";
}
.budicon-pack:before {
  content: "E";
}
.budicon-gift:before {
  content: "F";
}
.budicon-shopping-bag:before {
  content: "G";
}
.budicon-shopping-cart:before {
  content: "H";
}
.budicon-shopping-cart-1:before {
  content: "I";
}
.budicon-sun:before {
  content: "J";
}
.budicon-cloud:before {
  content: "K";
}
.budicon-album:before {
  content: "L";
}
.budicon-note-1:before {
  content: "M";
}
.budicon-note:before {
  content: "N";
}
.budicon-repeat:before {
  content: "O";
}
.budicon-list:before {
  content: "P";
}
.budicon-eject:before {
  content: "Q";
}
.budicon-forward:before {
  content: "R";
}
.budicon-backward:before {
  content: "S";
}
.budicon-stop:before {
  content: "T";
}
.budicon-pause:before {
  content: "U";
}
.budicon-pause-1:before {
  content: "V";
}
.budicon-play:before {
  content: "W";
}
.budicon-equalizer:before {
  content: "X";
}
.budicon-volume:before {
  content: "Y";
}
.budicon-volume-1:before {
  content: "Z";
}
.budicon-volume-2:before {
  content: "0";
}
.budicon-speaker:before {
  content: "1";
}
.budicon-speaker-1:before {
  content: "2";
}
.budicon-mic:before {
  content: "3";
}
.budicon-radio:before {
  content: "4";
}
.budicon-calculator:before {
  content: "5";
}
.budicon-binoculars:before {
  content: "6";
}
.budicon-scissors:before {
  content: "7";
}
.budicon-hammer:before {
  content: "8";
}
.budicon-compass:before {
  content: "9";
}
.budicon-ruler:before {
  content: "!";
}
.budicon-headphones:before {
  content: "\"";
}
.budicon-umbrella:before {
  content: "#";
}
.budicon-tv-1:before {
  content: "$";
}
.budicon-video:before {
  content: "%";
}
.budicon-gameboy:before {
  content: "&";
}
.budicon-joystick:before {
  content: "'";
}
.budicon-mouse:before {
  content: "(";
}
.budicon-monitor:before {
  content: ")";
}
.budicon-mobile:before {
  content: "*";
}
.budicon-disk:before {
  content: "+";
}
.budicon-search:before {
  content: ",";
}
.budicon-camera:before {
  content: "-";
}
.budicon-camera-2:before {
  content: ".";
}
.budicon-camera-1:before {
  content: "/";
}
.budicon-magnet:before {
  content: ":";
}
.budicon-magic-wand:before {
  content: ";";
}
.budicon-redo:before {
  content: "<";
}
.budicon-undo:before {
  content: "=";
}
.budicon-brush:before {
  content: ">";
}
.budicon-bookmark:before {
  content: "?";
}
.budicon-trash:before {
  content: "@";
}
.budicon-trash-1:before {
  content: "[";
}
.budicon-pencil-1:before {
  content: "]";
}
.budicon-pencil-2:before {
  content: "^";
}
.budicon-pencil-3:before {
  content: "_";
}
.budicon-pencil-4:before {
  content: "`";
}
.budicon-book-1:before {
  content: "{";
}
.budicon-lock:before {
  content: "|";
}
.budicon-authors:before {
  content: "}";
}
.budicon-author:before {
  content: "~";
}
.budicon-setting-1:before {
  content: "\";
}
.budicon-setting:before {
  content: "\e000";
}
.budicon-wrench:before {
  content: "\e001";
}
.budicon-share:before {
  content: "\e002";
}
.budicon-code:before {
  content: "\e003";
}
.budicon-link:before {
  content: "\e004";
}
.budicon-link-1:before {
  content: "\e005";
}
.budicon-alert:before {
  content: "\e006";
}
.budicon-download:before {
  content: "\e007";
}
.budicon-upload:before {
  content: "\e008";
}
.budicon-server:before {
  content: "\e009";
}
.budicon-webcam:before {
  content: "\e00a";
}
.budicon-graph:before {
  content: "\e00b";
}
.budicon-rss:before {
  content: "\e00c";
}
.budicon-statistic:before {
  content: "\e00d";
}
.budicon-browser-2:before {
  content: "\e00e";
}
.budicon-browser-3:before {
  content: "\e00f";
}
.budicon-browser-4:before {
  content: "\e010";
}
.budicon-browser-5:before {
  content: "\e011";
}
.budicon-browser:before {
  content: "\e012";
}
.budicon-network:before {
  content: "\e013";
}
.budicon-cone:before {
  content: "\e014";
}
.budicon-location:before {
  content: "\e015";
}
.budicon-grid:before {
  content: "\e016";
}
.budicon-cancel-2:before {
  content: "\e017";
}
.budicon-check-2:before {
  content: "\e018";
}
.budicon-minus-2:before {
  content: "\e019";
}
.budicon-plus-2:before {
  content: "\e01a";
}
.budicon-layout:before {
  content: "\e01b";
}
.budicon-grid-1:before {
  content: "\e01c";
}
.budicon-layout-1:before {
  content: "\e01d";
}
.budicon-layout-2:before {
  content: "\e01e";
}
.budicon-layout-3:before {
  content: "\e01f";
}
.budicon-layout-4:before {
  content: "\e020";
}
.budicon-layout-5:before {
  content: "\e021";
}
.budicon-layout-6:before {
  content: "\e022";
}
.budicon-layout-7:before {
  content: "\e023";
}
.budicon-layout-8:before {
  content: "\e024";
}
.budicon-layout-9:before {
  content: "\e025";
}
.budicon-layout-10:before {
  content: "\e026";
}
.budicon-cancel:before {
  content: "\e027";
}
.budicon-check-1:before {
  content: "\e028";
}
.budicon-plus-1:before {
  content: "\e029";
}
.budicon-minus-1:before {
  content: "\e02a";
}
.budicon-enlarge:before {
  content: "\e02b";
}
.budicon-fullscreen:before {
  content: "\e02c";
}
.budicon-fullscreen-2:before {
  content: "\e02d";
}
.budicon-fullscreen-1:before {
  content: "\e02e";
}
.budicon-enlarge-1:before {
  content: "\e02f";
}
.budicon-list-1:before {
  content: "\e030";
}
.budicon-arrow-diagonal:before {
  content: "\e031";
}
.budicon-arrow-diagonal-1:before {
  content: "\e032";
}
.budicon-arrow-vertical:before {
  content: "\e033";
}
.budicon-arrow-horizontal:before {
  content: "\e034";
}
.budicon-date:before {
  content: "\e035";
}
.budicon-power:before {
  content: "\e036";
}
.budicon-cloud-upload:before {
  content: "\e037";
}
.budicon-cloud-download:before {
  content: "\e038";
}
.budicon-glass:before {
  content: "\e039";
}
.budicon-home:before {
  content: "\e03a";
}
.budicon-download-1:before {
  content: "\e03b";
}
.budicon-upload-1:before {
  content: "\e03c";
}
.budicon-window:before {
  content: "\e03d";
}
.budicon-fullscreen-3:before {
  content: "\e03e";
}
.budicon-arrow:before {
  content: "\e03f";
}
.budicon-arrow-1:before {
  content: "\e040";
}
.budicon-arrow-2:before {
  content: "\e041";
}
.budicon-arrow-3:before {
  content: "\e042";
}
.budicon-arrow-down:before {
  content: "\e043";
}
.budicon-arrow-right:before {
  content: "\e044";
}
.budicon-arrow-up:before {
  content: "\e045";
}
.budicon-arrow-left:before {
  content: "\e046";
}
.budicon-target:before {
  content: "\e047";
}
.budicon-target-1:before {
  content: "\e048";
}
.budicon-star:before {
  content: "\e049";
}
.budicon-heart:before {
  content: "\e04a";
}
.budicon-check:before {
  content: "\e04b";
}
.budicon-cancel-1:before {
  content: "\e04c";
}
.budicon-minus:before {
  content: "\e04d";
}
.budicon-plus:before {
  content: "\e04e";
}
.budicon-crop:before {
  content: "\e04f";
}
.budicon-bell:before {
  content: "\e050";
}
.budicon-search-1:before {
  content: "\e051";
}
.budicon-search-2:before {
  content: "\e052";
}
.budicon-search-5:before {
  content: "\e053";
}
.budicon-search-4:before {
  content: "\e054";
}
.budicon-search-3:before {
  content: "\e055";
}
.budicon-clock:before {
  content: "\e056";
}
.budicon-dashboard:before {
  content: "\e057";
}
.budicon-check-3:before {
  content: "\e058";
}
.budicon-cancel-3:before {
  content: "\e059";
}
.budicon-minus-3:before {
  content: "\e05a";
}
.budicon-plus-3:before {
  content: "\e05b";
}
.budicon-support:before {
  content: "\e05c";
}
.budicon-arrow-left-bottom:before {
  content: "\e05d";
}
.budicon-arrow-right-bottom:before {
  content: "\e05e";
}
.budicon-arrow-right-top:before {
  content: "\e05f";
}
.budicon-arrow-left-top:before {
  content: "\e060";
}
.budicon-arrow-down-1:before {
  content: "\e061";
}
.budicon-arrow-right-1:before {
  content: "\e062";
}
.budicon-arrow-up-1:before {
  content: "\e063";
}
.budicon-arrow-left-1:before {
  content: "\e064";
}
.budicon-link-external:before {
  content: "\e065";
}
.budicon-link-incoming:before {
  content: "\e066";
}
.budicon-aid-kit:before {
  content: "\e067";
}
.budicon-lab:before {
  content: "\e068";
}
.budicon-flag:before {
  content: "\e069";
}
.budicon-award:before {
  content: "\e06a";
}
.budicon-award-1:before {
  content: "\e06b";
}
.budicon-award-2:before {
  content: "\e06c";
}
.budicon-timer:before {
  content: "\e06d";
}
.budicon-tv:before {
  content: "\e06e";
}
.budicon-mic-1:before {
  content: "\e06f";
}
.budicon-bicycle:before {
  content: "\e070";
}
.budicon-bus:before {
  content: "\e071";
}
.budicon-car:before {
  content: "\e072";
}
.budicon-direction:before {
  content: "\e073";
}
.budicon-leaf-1:before {
  content: "\e074";
}
.budicon-bulb:before {
  content: "\e075";
}
.budicon-tree:before {
  content: "\e076";
}
.budicon-home-1:before {
  content: "\e077";
}
.budicon-pin:before {
  content: "\e078";
}
.budicon-clock-1:before {
  content: "\e079";
}
.budicon-date-2:before {
  content: "\e07a";
}
.budicon-timer-1:before {
  content: "\e07b";
}
.budicon-clock-2:before {
  content: "\e07c";
}
.budicon-time:before {
  content: "\e07d";
}
.budicon-clock-3:before {
  content: "\e07e";
}
.budicon-date-1:before {
  content: "\e07f";
}
.budicon-map:before {
  content: "\e080";
}
.budicon-pin-1:before {
  content: "\e081";
}
.budicon-compass-1:before {
  content: "\e082";
}
.budicon-crown:before {
  content: "\e083";
}
.budicon-pointer:before {
  content: "\e084";
}
.budicon-pointer-1:before {
  content: "\e085";
}
.budicon-pointer-2:before {
  content: "\e086";
}
.budicon-puzzle:before {
  content: "\e087";
}
.budicon-gender-female:before {
  content: "\e088";
}
.budicon-gender-male:before {
  content: "\e089";
}
.budicon-globe:before {
  content: "\e08a";
}
.budicon-cube:before {
  content: "\e08b";
}
.budicon-book-2:before {
  content: "\e08c";
}
.budicon-notebook:before {
  content: "\e08d";
}
.budicon-image:before {
  content: "\e08e";
}
.budicon-image-1:before {
  content: "\e08f";
}
.budicon-image-2:before {
  content: "\e090";
}
.budicon-image-3:before {
  content: "\e091";
}
.budicon-camera-3:before {
  content: "\e092";
}
.budicon-camera-4:before {
  content: "\e093";
}
.budicon-video-1:before {
  content: "\e094";
}
.budicon-briefcase:before {
  content: "\e095";
}
.budicon-briefcase-1:before {
  content: "\e096";
}
.budicon-document:before {
  content: "\e097";
}
.budicon-document-1:before {
  content: "\e098";
}
.budicon-document-2:before {
  content: "\e099";
}
.budicon-document-3:before {
  content: "\e09a";
}
.budicon-paper:before {
  content: "\e09b";
}
.budicon-note-2:before {
  content: "\e09c";
}
.budicon-note-3:before {
  content: "\e09d";
}
.budicon-note-5:before {
  content: "\e09e";
}
.budicon-attachment:before {
  content: "\e09f";
}
.budicon-note-4:before {
  content: "\e0a0";
}
.budicon-note-6:before {
  content: "\e0a1";
}
.budicon-note-7:before {
  content: "\e0a2";
}
.budicon-note-8:before {
  content: "\e0a3";
}
.budicon-list-2:before {
  content: "\e0a4";
}
.budicon-presentation:before {
  content: "\e0a5";
}
.budicon-presentation-1:before {
  content: "\e0a6";
}
.budicon-pie-cart:before {
  content: "\e0a7";
}
.budicon-document-4:before {
  content: "\e0a8";
}
.budicon-book-3:before {
  content: "\e0a9";
}
.budicon-note-9:before {
  content: "\e0aa";
}
.budicon-note-10:before {
  content: "\e0ab";
}
.budicon-radion:before {
  content: "\e0ac";
}
.budicon-box:before {
  content: "\e0ad";
}
.budicon-video-2:before {
  content: "\e0ae";
}
.budicon-glasses:before {
  content: "\e0af";
}
.budicon-box-1:before {
  content: "\e0b0";
}
.budicon-printer:before {
  content: "\e0b1";
}
.budicon-printer-1:before {
  content: "\e0b2";
}
.budicon-pin-2:before {
  content: "\e0b3";
}
.budicon-pin-3:before {
  content: "\e0b4";
}
.budicon-folder:before {
  content: "\e0b5";
}
.budicon-book-4:before {
  content: "\e0b6";
}
.budicon-cancel-4:before {
  content: "\e0b7";
}
.budicon-check-4:before {
  content: "\e0b8";
}
.budicon-minus-4:before {
  content: "\e0b9";
}
.budicon-plus-4:before {
  content: "\e0ba";
}
.budicon-equal:before {
  content: "\e0bb";
}
.budicon-book-5:before {
  content: "\e0bc";
}
.budicon-book-6:before {
  content: "\e0cd";
}
.budicon-newspaper:before {
  content: "\e0bd";
}
.budicon-image-4:before {
  content: "\e0be";
}
.budicon-telephone:before {
  content: "\e0bf";
}
.budicon-mic-2:before {
  content: "\e0c0";
}
.budicon-paper-plane:before {
  content: "\e0c1";
}
.budicon-pen:before {
  content: "\e0c2";
}
.budicon-profile:before {
  content: "\e0c3";
}
.budicon-mail:before {
  content: "\e0c4";
}
.budicon-mail-1:before {
  content: "\e0c5";
}
.budicon-megaphone:before {
  content: "\e0c6";
}
.budicon-comment:before {
  content: "\e0c7";
}
.budicon-comment-1:before {
  content: "\e0c8";
}
.budicon-comment-2:before {
  content: "\e0c9";
}
.budicon-comment-3:before {
  content: "\e0ca";
}
.budicon-comment-4:before {
  content: "\e0cb";
}
.budicon-comment-5:before {
  content: "\e0cc";
}
