@charset "UTF-8";

@font-face {
  font-family: "piconsthin";
  src:url("picons/piconsthin.eot");
  src:url("picons/piconsthind41d.eot?#iefix") format("embedded-opentype"),
    url("picons/piconsthin.woff") format("woff"),
    url("picons/piconsthin.ttf") format("truetype"),
    url("picons/piconsthin.svg#piconsthin") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "piconsthin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-picons-"]:before,
[class*=" icon-picons-"]:before {
  font-family: "piconsthin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picons-award:before {
  content: "a";
}
.icon-picons-brush:before {
  content: "b";
}
.icon-picons-brush-2:before {
  content: "c";
}
.icon-picons-bulb:before {
  content: "d";
}
.icon-picons-casette:before {
  content: "e";
}
.icon-picons-chart-6:before {
  content: "f";
}
.icon-picons-clock:before {
  content: "g";
}
.icon-picons-desktop-preferences:before {
  content: "h";
}
.icon-picons-drawing:before {
  content: "i";
}
.icon-picons-earth:before {
  content: "j";
}
.icon-picons-font:before {
  content: "k";
}
.icon-picons-gift:before {
  content: "l";
}
.icon-picons-lab:before {
  content: "m";
}
.icon-picons-move:before {
  content: "n";
}
.icon-picons-plane:before {
  content: "o";
}
.icon-picons-printer:before {
  content: "p";
}
.icon-picons-rocket:before {
  content: "q";
}
.icon-picons-support:before {
  content: "r";
}
.icon-picons-tv:before {
  content: "s";
}
.icon-picons-window-layout-3:before {
  content: "t";
}
