[Unit]
Description=Stacki Message Queue Processor
After=last.target

[Service]
Type=simple
ExecStart=/opt/stack/sbin/smq-processor
Restart=always
RestartSec=5

[Install]
WantedBy=last.target
