[Unit]
Description=Stacki Message Queue Producer
After=last.target

[Service]
Type=simple
ExecStart=/opt/stack/sbin/smq-producer
Restart=always
RestartSec=5

[Install]
WantedBy=last.target
