[Unit]
Description=Stacki Message Queue Publisher
After=last.target

[Service]
Type=simple
ExecStart=/opt/stack/sbin/smq-publisher
Restart=always
RestartSec=5

[Install]
WantedBy=last.target
