[Unit]
Description=Stacki Message Queue Shipper
After=last.target

[Service]
Type=simple
ExecStart=/opt/stack/sbin/smq-shipper
Restart=always
RestartSec=5

[Install]
WantedBy=last.target
