[Unit]
Description=Stacki Message Queue Shipper
After=last.target

[Service]
Type=idle
PIDFile=/var/run/smq-shipper/smq-shipper.pid
ExecStartPre=/usr/bin/mkdir -p /var/run/smq-shipper
ExecStart=/opt/stack/sbin/smq-shipper

[Install]
WantedBy=last.target
