<stack:stack>

	<stack:description>
	The 'server node' in the graph.

	This file is used as a connection point for other XML
	configuration nodes.
	</stack:description>

	<stack:copyright>
	Copyright (c) 2006 - 2018 Teradata
	All rights reserved. Stacki(r) v5.x stacki.com
	https://github.com/Teradata/stacki/blob/master/LICENSE.txt
	</stack:copyright>


        <stack:rocks>
        Copyright (c) 2000 - 2010 The Regents of the University of California
        All rights reserved. Rocks(r) v5.4 www.rocksclusters.org
        https://github.com/Teradata/stacki/blob/master/LICENSE-ROCKS.txt
        </stack:rocks>

<stack:native stack:lang="kickstart">
reboot --eject
text

<stack:eval stack:shell="/opt/stack/bin/python3" stack:mode="xml">
import os
import urlparse
import stack.roll

g = stack.roll.Generator()

if os.path.exists('/tmp/rolls.xml'):
	g.parse('/tmp/rolls.xml')
elif os.path.exists('/tmp/pallets.xml'):
	g.parse('/tmp/pallets.xml')

for pallet in g.rolls:
	(pname, pver, prel, parch, purl, pdiskid) = pallet
	print('repo --name="%s" --baseurl=%s/%s/%s/%s/redhat/%s' % (pname, purl, pname, pver, prel, parch))
</stack:eval>

</stack:native>


<stack:package>stack-admin</stack:package>
<stack:package>foundation-gd</stack:package>
<stack:package>foundation-newt</stack:package>

<!-- to build anaconda -->
<stack:package>device-mapper-devel</stack:package>
<stack:package>isomd5sum-devel</stack:package>
<stack:package>libarchive-devel</stack:package>
<stack:package>libblkid-devel</stack:package>
<stack:package>newt-devel</stack:package>
<stack:package>slang-devel</stack:package>
<stack:package>xmlto</stack:package>
<stack:package>NetworkManager-devel</stack:package>
<stack:package>NetworkManager-glib-devel</stack:package>
<stack:package>dbus-devel</stack:package>
<stack:package>iscsi-initiator-utils-devel</stack:package>
<stack:package>libcurl-devel</stack:package>
<stack:package>stack-config-server</stack:package>
<stack:package>git</stack:package>
<!-- perl-Error required for some git functionality -->
<stack:package>perl-Error</stack:package>

<!-- rpms to create pallets -->
<stack:package>genisoimage</stack:package>
<stack:package>createrepo</stack:package>

<!-- packages required for stack create package -->
<stack:package>rpm-build</stack:package>
<stack:package>stack-build</stack:package>
<stack:package>redhat-rpm-config</stack:package>

<!-- text-based spreadsheet editor -->
<stack:package>foundation-sc-im</stack:package>

<!-- example spreadsheets -->
<stack:package>stack-examples</stack:package>

<!-- stacki switch package -->
<stack:package>stack-switch</stack:package>

<!-- node discovery feature -->
<stack:package>stack-discovery</stack:package>

<!-- /mnt/cdrom needed to create pallets -->
<stack:script stack:stage="install-post">
    if [ ! -d /mnt/cdrom ]; then
        mkdir -p /mnt/cdrom
    fi
</stack:script>

<stack:script stack:stage="install-post">
<!--
        all rolls added to a running frontend will be added 'on the fly', so
        set the roll_install_on_the_fly ottribute to true.

        'shadow=yes' means that root and apache can access this attribute,
        but it will not show up in 'rocks dump' so it won't pollute the
        restore roll.
-->

/opt/stack/bin/stack set host attr &Kickstart_PrivateHostname; \
	attr=roll_install_on_the_fly value=true shadow=yes

<!--
	 Default to system (passwd/shadow) authentication.
-->
/opt/stack/bin/stack set attr attr=user.auth value=unix

<!-- add sync.hosts to default false -->
/opt/stack/bin/stack set attr attr=sync.hosts value=False
</stack:script>

<stack:script stack:stage="install-post">
mkdir -p /export/stack/carts
chown root:apache /export/stack/carts
chmod 775 /export/stack/carts
</stack:script>

<stack:script stack:stage="install-post">
<stack:file stack:name="/etc/hostname">
&Info_FQDN;
</stack:file>
</stack:script>

<!-- Set Number of CPUs in the database -->
<stack:script stack:stage="install-post">
/sbin/chkconfig stack-num-cpus on
</stack:script>

<!--
	The restore roll needs a default (empty) git repository in order to
	build
-->

<stack:script stack:stage="boot-post">
git init /export/site-pallet/restore
touch /root/.gitconfig
</stack:script>

</stack:stack> 

