[Unit]
Description=Ludicrous Speed Downloads Client
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/stack/bin/python3 /opt/stack/bin/ludicrous-client.py
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
